%h1= title t(:services)

= render 'shared/search_form', model: Service, placeholder: t(:search_by_service_name)

- if @services.present?
  %p
    = link_to t(:create_service), new_service_path, class: "btn btn-success"

  %table.table
    %thead
      %tr
        %th= Service.human_attribute_name(:name)
        %th= Service.human_attribute_name(:suppliers_count)
        %th
    %tbody
      - @services.each do |service|
        %tr
          %td= link_to service.name, service_path(service)
          %td= service.suppliers_count
          %td
            .btn-group.pull-right
              = link_to new_from_scratch_path(service_id: service.id), class: "btn btn-small btn-success", title: t(:new_task) do
                %i.icon-tasks.icon-white
              = link_to edit_service_path(service), class: "btn btn-small" do
                %i.icon-edit
              = link_to service, class: "btn btn-small btn-danger", method: :delete, data: { confirm: t(:are_you_sure_delete_service) } do
                %i.icon-trash.icon-white

- else
  = t(:no_services_yet)
  = t(:you_can)
  = link_to t(:create_service), new_service_path, class: "btn btn-success"

.row
  = paginate @services
