.thumbnail
  .navbar
    .navbar-inner
      %h5= task_full_title(task)
  %p
    = simple_format task.description

%hr

%p
  #comments
    = render 'comments/comments', comments: comments

%p
  .thumbnail
    - if task.open?
      = simple_form_for [task, comment], html: { remote: true } do |f|
        = f.input :message, label: false, input_html: { class: "width99", rows: 6, value: "" }, placeholder: t(:ctrl_enter_description), autofocus: true
        .controls-row
          .pull-left
            = check_box_tag :close
            = label_tag :close, t(:close), class: "checkbox-inline"
          .pull-right
            = render 'pay_to_button', task: task
            %span#js-task-rating.hide
              = label_tag :task_rating, Task.human_attribute_name(:rating), class: "display-inline"
              = number_field_tag :task_rating, 10, in: 1..10, class: "task-rating"
            = f.button :submit, t(:do_comment), class: "btn btn-success", name: "do_comment", id: "js-do-comment", :"data-disable-with" => t(:wait)
            = f.button :submit, t(:comment_and_close), class: "btn btn-danger hide", name: "comment_and_close", id: "js-comment-and-close", :"data-disable-with" => t(:wait)
    - else
      .controls-row
        .pull-right
          = render 'pay_to_button', task: task
          = link_to t(:reopen), reopen_task_path(task), class: "btn btn-danger", method: :post, remote: true
      .clear

