%h1= title t(:suppliers)

- if @suppliers.present?
  %p
    = link_to t(:create_supplier), new_supplier_path, class: "btn btn-success"

  %table.table
    %thead
      %tr
        %th= Supplier.human_attribute_name(:name)
        %th= Supplier.human_attribute_name(:rating)
        %th= Supplier.human_attribute_name(:services_count)
        %th
    %tbody
      - @suppliers.each do |supplier|
        %tr
          %td= link_to supplier.name, supplier_path(supplier)
          %td= supplier.rating
          %td= supplier.services_count
          %td
            .btn-group.pull-right
              = link_to edit_supplier_path(supplier), class: "btn btn-mini" do
                %i.icon-edit
              = link_to supplier, class: "btn btn-mini btn-danger", method: :delete, data: { confirm: t(:are_you_sure_delete_supplier) } do
                %i.icon-trash.icon-white

- else
  = t(:no_suppliers_yet)
  = t(:you_can)
  = link_to t(:create_supplier), new_supplier_path, class: "btn btn-success"

.row
  = paginate @suppliers
