%h1
  = @supplier.name
  = surround "[", "]" do
    = @supplier.rating

%ul#supplier-services.nav.nav-tabs
  %li.active= link_to t(:services), "#services", data: { toggle: "tab" }
  %li= link_to t(:tasks), "#tasks", data: { toggle: "tab" }

.tab-content
  #services.tab-pane.active
    = render 'services', supplier: @supplier

  #tasks.tab-pane
    = render 'tasks', supplier: @supplier
